<nav class="article-category-nav" aria-label="Article categories">
  <a href="/articles/">All Articles</a>
  <a href="/articles/mediterranean-levantine/">Mediterranean-Levantine</a>
  <a href="/articles/germanic-alpine/">Germanic-Alpine</a>
  <a href="/articles/nordic-arctic/">Nordic-Arctic</a>
  <a href="/articles/slavic-eurasian/">Slavic-Eurasian</a>
  <a href="/articles/genealogy-lineage/">Genealogy & Lineage</a>
  <a href="/articles/paganism/">Paganism</a>
  <a href="/articles/mesmerism/">Mesmerism</a>
  <a href="/articles/symbolism-esotericism/">Symbolism & Esotericism</a>
</nav>
